body {
    font-family: verdana, arial, sans-serif;
    margin: 5px;
}
#logo {
    position: absolute;
    top: 20px;
    left: 12.5%;
    width: 200px;
    height: 190px;
}
#title {
    position: absolute;
    top: 40px;
    left: calc(12.5% + 200px);
    height: 160px;
    width: 300px;
}
#menuArea {
    position: absolute;
    top: 0px;
    left: calc(50% + 300px);
    height: 200px;
    width: 435px;
}
#shadow {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-image: url("../img/shadow.png");
    background-repeat: repeat;
}
#languages {
    position: absolute;
    top: 10px;
    right: 10px;
}
#searchImage {
    position: absolute;
    top: 20mm;
    left: 1mm;
}
#search {
    position: absolute;
    top: 20mm;
    left: 17mm;
    width: calc(100% - 37mm);
}
#searchGo {
    position: absolute;
    top: 20mm;
    right: 1mm;
}
#infomapSearch {
    font-size: 30px;
    height: 50px;
    width: 100%;
}
#backArrowImage {
    position: absolute;
    top: 230px;
    left: 50px;
}
#content {
    position: absolute;
    top: 40mm;
    width: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
}
#buttonRoundedEdges {
    display: table;
    height: 30px;
    padding-top: 2px;
    padding-bottom: -8px;
    padding-left: 3px;
    border-radius: 30px;
    overflow: hidden;
    background: #ffffff;
    color: #555555;
    box-shadow: 0 0 2px gray;
    font-weight: bold;
}
#buttonRoundedEdges:hover {
    background: #f9f9f9;
}
#buttonRoundedEdgesText {
    margin-top: -25px;
    margin-left: 35px;
}
#socialNetworkButton {
    display: table;
    height: 14px;
    opacity: 0.5;
    -o-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
#socialNetworkButton:hover {
    opacity: 1;
    background: #f9f9f9;
}
table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size:20px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    color: #ffffff;
    background-color: #555555;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
#mobileLogo {
    position: absolute;
    top: 3mm;
    left: 3mm;
    width: 10mm;
    height: 10mm;
    position: fixed;
    z-index: 1000;
    background: #ffffff;
}
#mobileTitle {
    position: absolute;
    top: 4mm;
    left: 15mm;
    width: calc(100% - 35mm);
    height: 8mm;
    letter-spacing: 0.3mm;
    font-weight: bold;
    font-size: 5mm;
    position: fixed;
    z-index: 1000;
    background: #ffffff;
}
#mobileBurgerIcon {
    position: absolute;
    top: 2mm;
    right: 1mm;
    width: 10mm;
    height: 10mm;
    position: fixed;
    z-index: 1000;
    background: #ffffff;
}
#mobileMenuContent {
    position: absolute;
    top: 16mm;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 993;
    background: #ffffff;
}
#mobileShadow {
    position: absolute;
    top: 14mm;
    left: 0px;
    width: 100%;
    height: 5px;
    background-image: url("../img/shadow.png");
    background-repeat: repeat;
    position: fixed;
    z-index: 1000;
}
#mobileMenuBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 14mm;
    position: fixed;
    z-index: 995;
    background: #ffffff;
}
mobileMenuTable.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
    color: #aaaaaa;
    border-width: 0px;
    border-color: #aaaaaa;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
mobileMenuTable.gridtable td {
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    border-color: #aaaaaa;
    background-color: #aaaaaa;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}
.right {
    float: right;
}
.left {
    float: left;
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("../img/burgerMenuCloseIcon.png");
}